.emcs {
    background-color: #fff;
    padding: 20px;
    margin: 0;
    color: #333;
    font-size: 18px;
    line-height: 1;
}

.emcs-embed-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

.emcs-wrapper {
    margin: 60px 40px 60 20px;
}

.emcs-container {
    background-color: #fff;
    box-shadow: 1px 2px 11px 5px #ece9e9;
    margin-top: 40px;
}

.emcs-text-center {
    text-align: center;
}

.emcs-events {
    margin-bottom: 40px;
}

.emcs-customizer {
    margin: 80px auto;
    padding: 80px 50px 70px 50px;
    width: 60%;
}

.emcs-customizer-preview {
    background-color: #cccccc;
    height: 200px;
}

.emcs-customizer-preview .preview-content {
    vertical-align: middle;
    display: table-cell;
    height: inherit;
    padding: 20px;
}

.emcs-choose-customizer-form,
.emcs-inline-form-customizer-form,
.emcs-popup-text-customizer-form,
.emcs-popup-button-customizer-form {
    margin-top: 60px;
}

.emcs-inline-form-customizer-form,
.emcs-popup-text-customizer-form,
.emcs-popup-button-customizer-form {
    display: none;
}

.emcs-form-row {
    margin-bottom: 20px;
}

.emcs-embed-customizer-shortcode {
    margin-top: 20px;
    font-weight: bold;
    word-break: break-all;
}

#emcs_api_key {
    width: 40%;
    padding: 10px;
    border: 1px solid #e2dede;
}

#emcs_api_key_description {
    font-size: 12px;
}